<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/3d93320a6a.js"></script>
    <link href="http://allfont.ru/allfont.css?fonts=open-sans" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../style/main.css">
    <title>Blog</title>
</head>
<body>
<div class="wrap main">
    <div class="main__column sidebar">

        <a href="#">
            <img src="../img/logo.png" alt="alt" class="logo">
        </a>

<div class="link-wrap">

              <a href="#" class="sidebar__link">home</a>
              <a href="#" class="sidebar__link sidebar__link-active">videos</a>
              <a href="#" class="sidebar__link">images</a>
              <a href="#" class="sidebar__link">articles</a></li>
              <a href="#" class="sidebar__link">freebies</a>
</div>
              <div class="sidebar__about">
                <h2>About Us</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eum accusantium dolores quae minima quo laboriosam iste, possimus tempore perferendis.
              </div>
              <div class="sidebar__tags">
                <h2><img src="../img/tag.png" alt="alt"> Tags</h2>
                <div class="sidebar__tags__wrap">
                <a href="#">Video</a>
                <a href="#">Video</a>
                <a href="#">Video</a>
                <a href="#">Video</a>
                <a href="#">Video</a>
                <a href="#">Video</a>
                <a href="#">Video</a>
                <a href="#">Video</a>
                <a href="#">Video</a>
                </div>
              </div>

        </div>



        <div class="main__column content">
          <header class="header">
            <h1 class="header__title">
              <img src="../img/camera-ico.png" alt="alt" class="header__title__ico">
              <span class="bold">Featured</span> <span>Videos</span>
            </h1>
            <nav class="header__media">
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitch" aria-hidden="true"></i></a>
            </nav>
          </header>
              <div class="video">

                <video src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" controls="controls" width="100%">

                <div class="video-desc-main">
                  Lorem ipsum dolor sit amet, consectetur adipisicing.
                  <img src="" alt="" class="desc-ico">
                  <img src="" alt="" class="desc-ico">
                  <img src="" alt="" class="desc-ico">
                </div>
              </div>
<div class="view">Change view:

<div class="button-view button-list button-view-active"><div class="button-view-wrap"><img src="../img/button-list.png" alt="alt"><img src="../img/button-list-active.png" alt=""></div></div><div class="button-view button-grid"><div class="button-view-wrap"><img src="../img/button-grid.png" alt="alt"><img src="../img/button-grid-active.png" alt=""></div></div> </div>

        <div class="content__posts">

            <div class="post">
              <div class="post__video">
              <video src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" controls="controls" height="250px">
                </div>


            </video>



              <div class="post__text">
                <div class="">
                  Lorem ipsum dolor.
                </div>

                <h2 class="post__text__title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                <div class="post__text__media"></div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus unde eaque culpa quam quod ratione non ex voluptas incidunt iure.
              </div>
              <a href="#" class="arrow"><img src="../img/arrow.png" alt="#"></a>
            </div>

            <div class="post">
              <div class="post__video">
              <video src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" controls="controls" height="250px">
                </div>


            </video>



              <div class="post__text">
                <div class="">
                  Lorem ipsum dolor.
                </div>

                <h2 class="post__text__title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                <div class="post__text__media"></div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus unde eaque culpa quam quod ratione non ex voluptas incidunt iure.
              </div>
              <a href="#" class="arrow"><img src="../img/arrow.png" alt="#"></a>
            </div>

            <div class="post">
              <div class="post__video">
              <video src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" controls="controls" height="250px">
                </div>


            </video>



              <div class="post__text">
                <div class="">
                  Lorem ipsum dolor.
                </div>

                <h2 class="post__text__title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                <div class="post__text__media"></div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus unde eaque culpa quam quod ratione non ex voluptas incidunt iure.
              </div>
              <a href="#" class="arrow"><img src="../img/arrow.png" alt="#"></a>
            </div>

            <div class="post">
              <div class="post__video">
              <video src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" controls="controls" height="250px">
                </div>


            </video>



              <div class="post__text">
                <div class="">
                  Lorem ipsum dolor.
                </div>

                <h2 class="post__text__title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                <div class="post__text__media"></div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus unde eaque culpa quam quod ratione non ex voluptas incidunt iure.
              </div>
              <a href="#" class="arrow"><img src="../img/arrow.png" alt="#"></a>
            </div>

            <div class="post">
              <div class="post__video">
              <video src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" controls="controls" height="250px">
                </div>


            </video>



              <div class="post__text">
                <div class="">
                  Lorem ipsum dolor.
                </div>

                <h2 class="post__text__title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                <div class="post__text__media"></div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus unde eaque culpa quam quod ratione non ex voluptas incidunt iure.
              </div>
              <a href="#" class="arrow"><img src="../img/arrow.png" alt="#"></a>
            </div>



        </div>







          </div>
<!--
          <nav class="header__media">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitch" aria-hidden="true"></i></a>
          </nav>
-->


    </div>
    <footer class="footer wrap">
      <div class="footer__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Reprehenderit repellendus totam a placeat aliquam.

      </div>
      <div class="footer__media">
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></div>
    </footer>
    <script type="text/javascript">
    let button_list = document.getElementsByClassName('button-list')[0];
    let button_grid = document.getElementsByClassName('button-grid')[0];
    let container = document.getElementsByClassName('content__posts')[0];
    let list = true;
    button_list.onclick = function()
    {
      if (!list)
      {
        container.classList.remove('post-grid');
        list = true;
        button_list.classList.add('button-view-active');
        button_grid.classList.remove('button-view-active');
      }


    }
    button_grid.onclick = function ()
    {
      if (list)
      {
        container.classList.add('post-grid');
        button_list.classList.remove('button-view-active');
        button_grid.classList.add('button-view-active');
        list = false;
      }

    }

    </script>


</body>
</html>
